@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500;700&display=swap');

:root {
    --black: #000;
    --blue: #3d8eda;
    --white: #fff;
    --gray: #C8C7C7;
    --header-bg-color: #FFFFFFAB;
    --input-color: #636264;
    --input-border-color: #dedede;
    --input-bg-color: #EBEBEB;
    --load-more-button-color: #929292;

    --header-button-color: var(--blue);
    --text-color: var(--black);
    --bg-color: var(--white);
}

html, body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

body {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    background: var(--bg-color);
}

.bg-img-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-img-bottom {
    position: absolute;
    bottom: 1vh;
    right: 0;
    z-index: -1;
}

/*Header*/

.header {
    display: flex;
    height: 172px;
    align-items: center;
    justify-content: center;
    background-color: var(--header-bg-color);
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12), inset 0 12px 24px 0 rgba(0, 0, 0, 0.12);
    gap: 36px;
}

.header__logo {
    margin-right: 49px;
    margin-bottom: 23px;
}

.header__logo img {
    height: 138px;
    object-fit: cover;
}

.header__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 109px;
}

.header__data-heading {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 6px;
}

.header__data-heading h1 {
    margin: 0;
    font: 500 24px "Montserrat", sans-serif;
    letter-spacing: -0.01em;
    color: var(--text-color);;
}

.header__data-heading button {
    width: 135px;
    height: 28px;
    border: 1px solid var(--header-button-color);
    border-radius: 2px;

    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.03em;
    color: var(--header-button-color);
}

.header__data-stats {
    display: flex;
    gap: 28px;
    margin: 7px 0 18px 4px;
    font-size: 14px;
}

.stats__count {
    font-weight: 700;
    color: var(--text-color);
}

.inputs__wrapper {
    display: flex;
    gap: 10px;
}


.input {
    display: flex;
    align-items: center;
}

.input-heading {
    font: 400 16px "Roboto", sans-serif;
    color: var(--text-color);
    margin-right: 11px;
}

.input-date {
    border: 1px solid var(--input-border-color);
    border-radius: 4px 0 0 4px;
    width: 114px;
    height: 28px;
    padding-left: 6px;

    font: 400 13px "Roboto", sans-serif;
    color: var(--input-color);
}

.input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 28px;
    height: 28px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
}

.toggle {
    border-radius: 0 4px 4px 0;
}

/*MAIN*/

.main {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__wrapper {
    max-width: 836px;
    width: 100%;
}

.svg-buttons {
    display: flex;
    gap: 22px;
    margin: 22px 0;
    justify-content: end;
}

.svg-button {
    display: inline-block;
    cursor: pointer;
    transition: fill 0.3s ease-in-out;
}

.svg-button.active {
    fill: var(--gray);
}

.svg-button.inactive {
    fill: var(--blue);
}


/*VIEW LIST*/

.posts[data-template="list"] .post {
    display: flex;
    margin-bottom: 8px;
    background: var(--bg-color);
    gap: 3.58%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.posts[data-template="list"] .post__image {
    width: 86px;
    height: 86px;
    object-fit: cover;
}

.posts[data-template="list"] .post__data {
    display: flex;
    font-weight: 500;
    width: 100%;
    justify-content: space-between;
}

.posts[data-template="list"] .post__data-section, .posts[data-template="list"] .post__data-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 25%;
    gap: 8px;

}

/*VIEW GRID*/

.posts[data-template="grid"] {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 8px;
}

.posts[data-template="grid"] .post {
    width: 24.28%;
    margin-bottom: 16px;
    background: var(--bg-color);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.posts[data-template="grid"] .post__image {
    height: 203px;
    object-fit: cover;
}

.posts[data-template="grid"] .post__data {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    padding: 13px;
}

.posts[data-template="grid"] .post__data-section {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.posts[data-template="grid"] .section-date {
    margin-bottom: 7px;
}

.posts[data-template="grid"] .section-stats {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
}

.posts[data-template="grid"] .post__data-upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
}

.posts[data-template="grid"] .upload-description {
    display: block;
}

.posts[data-template="grid"] .upload-date {
    font-size: 12px;
    display: block;
}

.likes, .comments {
    font-size: 14px;
    position: relative;
    padding-left: 24px;
}

.likes {
    margin-right: 18px;
}

.likes::before, .comments::before {
    content: "";
    color: var(--text-color);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.likes::before {
    background-image: url('../img/icons/icon-like.png');
    width: 18px;
    background-size: 18px 16px;
}

.comments::before {
    background-image: url('../img/icons/icon-comment.png');
}

.upload-date {
    font-size: 14px;
}

#load-more {
    display: block;
    margin: 24px auto;
    padding: 7px 26px;
    border: var(--load-more-button-color) 1px solid ;
    border-radius: 14px;
    cursor: pointer;

    font-weight: 500;
    font-size: 11px;
    letter-spacing: -0.03em;
    color: var(--load-more-button-color);
}


/* Media queries */





/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {

}

/* Portrait tablets and small desktops */
/*@media (min-width: 768px) and (max-width: 991px) {*/
/*    .header {*/
/*        height: 140px;*/
/*    }*/

/*    .header__logo {*/
/*        margin: 0;*/
/*    }*/

/*    .header__logo img{*/
/*        height: 100px;*/
/*    }*/

    


    @media (min-width: 768px) and (max-width: 991px) {
        .main__wrapper {
            width: 90%;
            
        }
    
        .posts[data-template="grid"]{
            justify-content: center;
        }
    
        .posts[data-template="grid"] .post{
            width: 26.7%;
            max-width: 203px;
        }

        
    }
   
    @media (min-width: 576px) and (max-width: 767px) {
        .header {
            height: 200px;
        }
     
        .header__logo {
            margin: 0;
        }
     
         .header__logo img{
             height: 100px;
         }
     
         .header__data {
            margin: 0;
         }
    
         .main__wrapper {
             width: 90%;
         }
    
         .posts[data-template="list"] .post__data-section, .posts[data-template="list"] .post__data-upload {
            width: 36%;
         }
     
         .posts[data-template="grid"]{
             justify-content: space-evenly;
         }
     
         .posts[data-template="grid"] .post{
             width: 26.7%;
         }
    
         .section-stats {
            display: flex;
    
         }

         .svg-buttons {
            justify-content: center;
        }

        .posts[data-template="grid"] .post {
            width: 37%;
            max-width: 203px;
        }
    }
    @media (max-width: 575px) {
        .header {
            flex-direction: column;
            height: 100%;
            gap: 6px;
            padding: 8px;
        }
    
        .header__logo {
            margin: 0;
        }
    
        .header__logo img{
            height: 70px;
        }
    
        .header__data {
            margin: 0;
            align-items: center;
        }
    
        .header__data-heading {
            flex-direction: column;
            gap: 16px;
        }
    
        .header__data-heading h1 {
            font-size: 24px;
        }
    
        .header__data-stats{
            gap: 16px;
            margin: 16px 0;
        }
    
        .inputs__wrapper .input-date {
            display: none; 
        }
        
        .inputs__wrapper .input-button[title="clear"] {
            display: none; 
        }
    
        .inputs__wrapper .input-button.toggle {
            display: none; 
        }
        
        .inputs__wrapper .input:first-child .input-button.toggle {
            display: inline-block; 
        }
    
        .main__wrapper {
            width: 90%;
        }
    
        .posts[data-template="list"] .post__data-section, .posts[data-template="list"] .post__data-upload {
            width: 34%;
         }
        
        .svg-buttons {
            justify-content: center;
        }
    
        .posts .post__data {
            font-size: 12px;
        }
    
        .section-stats {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    
        .likes, .comments, .upload-date {
            font-size: 10px;
        }
        
    
        .posts[data-template="grid"] {
            flex-direction: column;
            align-items: center;
        }
    
        .posts[data-template="grid"] .post {
            max-width: 203px;
            width: 100%;
        }
    }